@media (min-width: 300px) {

    .service {
        padding: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        
        article {
            width: 50vh;
            height: 50vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        article > p {
            position: absolute;
            width: 100%;
            height: 100%;
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 10px;
            text-align: center;
            color: white;
            opacity: 1;
            z-index: 2;
        }

        [class*="fa-brands"], [class*="fa-solid"] {
            color: white;
            font-size: 180px;
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            opacity: 0;
            z-index: 1;
        }
        
        .html-5 {
            background-color: $html-block;
        }
        .database {
            background-color: $database-block;
        }
        .sass {
            background-color: $scss;
        }
        .fullstack {
            background-color: $full-stack;
        }

        span {
            text-transform: capitalize;
            border-bottom: 3px solid white;
        }

        
    }

    .gallery {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        article {
            @include flexbox(column,center,center,20px);
        }
        
        .project {
            width: 50vh;
            height: 50vh;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .project-1 {
            @extend .project;
            background: url("/img/gallery/p1.jpg");
        }
        .project-2 {
            @extend .project;
            background: url("/img/gallery/p2.jpg");
        }
        .project-3 {
            @extend .project;
            background: url("/img/gallery/p3.jpg");
        }
        .project-4 {
            @extend .project;
            background: url("/img/gallery/p4.jpg");
        }
        
    }

    .team {
        padding: 4%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        %btn-profile {
            background-color: $defaultColor;
            color: white;
            padding: 3%;
            text-decoration: none;
        }

        [class^="profile-"]{
            @include flexbox(column,center,center,15px);
            color: black;

            & a {
                @extend %btn-profile;
            }
        }

        aside {
            display: flex;
            width: 50vh;
            height: 50vh;
            border-radius: 50%;
        }

        .profile-1 > aside {
            @include bgBox("/img/member1.png",center,cover);
        }
        .profile-2 > aside {
            @include bgBox("/img/member2.png",center,cover);
        }
        .profile-3 > aside {
            @include bgBox("/img/member3.png",center,cover);
        }
        .profile-4 > aside {
            @include bgBox("/img/member4.png",center,cover);
        }

        aside h3 {
            color: white;
            border-color: white;
        }

        aside > div {
            color: white;
            background-color: $defaultColor;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include flexbox(column,center,center,25px);
            opacity: 0;
        }

        aside:hover div {
            opacity: 1;
            animation: profile-hover 1s ease-in-out;
        }

        [class^="fa-"] {
            color: white;
        }

        %innerHeader {
            color: $defaultColor;
            border-color: $defaultColor;
        }
        h2 {
            @extend %innerHeader;
        }
        h3 {
            @extend %innerHeader;
        }
        article {
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            padding-bottom: 15%;
        }
        .progress-section {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }
        .progress-section > div {
            height: 5vh;
            background-color: whitesmoke;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            row-gap: 20px;
        }

        %progress-span {
            background-color: $defaultColor;
            height: 100%;
            display: flex;
            font-size: 18px;
            font-weight: 600;
            align-items: center;
            color: white;
            padding: 1%;
        }

        .html-css {
            @extend %progress-span;
            width: 83%;
        }
        .javascript {
            @extend %progress-span;
            width: 75%;
        }
        .react {
            @extend %progress-span;
            width: 90%;
        }
        .version-control {
            @extend %progress-span;
            width: 89%;
        }

        
    }

    .contact {
        padding: 2%;
        @include flexbox(column,unset,unset,20px);
        > h2 {
            color: $defaultColor;
            border-color: $defaultColor;
        }
        > p {
            @include flexbox(column,unset,unset,20px);
        }
        form {
            padding: 3%;
            @include flexbox(column,unset,center,30px);
        }
        [type="text"], [type="email"], textarea {
            @include borderbox(darkgray);
            font-size: 16px;
            padding: 3%;
            font-family: $defaultFont;
            width: 80%;
        }
        [type="submit"] {
            padding: 3%;
            background-color: $defaultColor;
            color: white;
            width: 86%;
            font-size: 16px;
            font-weight: 600;
        }

        textarea {
            height: 30vh;
        }
    }

    .footer {
        text-align: center;
    }
}